flow_inputs/Account_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>ByPass</name>
        <label>ByPass</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>isRecordHasParent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsByPass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.BypassFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>IsByPass</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRecordExists</name>
        <label>IsRecordExists?</label>
        <locationX>605</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>CreateTradeOrgHierarchy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExistingTradeInHierarchy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Trade_Org</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>isRecordHasParent</name>
        <label>isRecordHasParent?</label>
        <locationX>407</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>GetExistingTradeInHierarchy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Parent</label>
        </rules>
    </decisions>
    <description>Account after update/create</description>
    <environments>Default</environments>
    <interviewLabel>AccountAfterUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateTradeOrgHierarchy</name>
        <label>CreateTradeOrgHierarchy</label>
        <locationX>737</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>cgcloud__Child_Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Parent_Account__c</field>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Valid_From__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Valid_Thru__c</field>
            <value>
                <dateValue>2099-01-01</dateValue>
            </value>
        </inputAssignments>
        <object>cgcloud__Account_Trade_Org_Hierarchy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetExistingTradeInHierarchy</name>
        <label>GetExistingTradeInHierarchy</label>
        <locationX>605</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsRecordExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Child_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Account_Trade_Org_Hierarchy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Trade_Org</name>
        <label>Update Trade Org</label>
        <locationX>473</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetExistingTradeInHierarchy.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>cgcloud__Parent_Account__c</field>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <object>cgcloud__Account_Trade_Org_Hierarchy__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ByPass</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
